::-webkit-scrollbar {
  width: 2px;
}
.patient {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.bio_pat {
  padding: 15px 50px;
  width: 50%;
  text-align: center;
  color: #cad5e2;
  background: #ffffff14 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  height: 60px;
  margin-top: 50px;
  font-size: 20px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pt_profile {
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 50%;
  text-align: center;
  color: #cad5e2;
  background: #ffffff14 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  margin-top: 30px;
  margin-right: 30px;
}
.pt_profile > div {
  margin: 5px;
}
.pt_avatar {
  margin-top: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 5px;
  margin-bottom: 5px;
}
a.font_field {
  color: #c2bfce;
  margin-right: 0px;
  font-size: 10px;
  padding-top: 15px;
}
.pt_details {
  width: 35vh;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.pt_align_ht {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.pt_align_vt {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.font_field {
  color: #c2bfce;
  margin-right: 15px;
  margin-top: 10px;
  font-size: 12px;
}
.pt_name {
  font-size: 20px;
}
.pt_list_items {
  height: 100px;
  overflow-y: scroll;
}
.pt_item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #cad5e2;
  background: #ffffff14 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  height: 30px;
  padding: 5px 5px 5px 5px;
  width: 30vh;
  margin-top: 10px;
}
.pt_item > div {
  margin: 10px;
}
.hos_write_access {
  display: flex;
  margin: 0px 2px;
  flex-direction: row;
  justify-content: space-between;
}
.ptd_name {
  font-size: 9px;
  padding-top: 2px;
}
.ptd_details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30vh;
  text-align: left;
  font-size: 10px;
}
.ptd_avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 5px;
}
.ptd_font_field {
  color: #c2bfce;
  margin-right: 15px;
  margin-top: 5px;
  font-size: 10px;
}

.pth_name {
  font-size: 9px;
  padding-top: 2px;
}
.pth_details {
  color: #cad5e2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: #ffffff14 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  height: 30px;
  padding: 5px 5px 5px 5px;
  width: 30vh;
  margin-top: 10px;
}

.pth_font_field {
  color: #c2bfce;
  margin-top: 5px;
  font-size: 9px;
  text-align: center;
}
.pt_medical_list {
  width: 30vh;
}
.pt_medical {
  text-align: left;
  padding: 10px;
}
.pt_medical_items {
  height: 90px;
  overflow-y: scroll;
}
.pt_medical_font {
  color: #c2bfce;
  margin-bottom: 10px;
  font-size: 12px;
  text-align: left;
  margin-left: 10px;
}
.lines {
  margin-left: 30px;
  margin-right: 20px;
}
.dot_one {
  margin-top: 35px;
}
.dot {
  width: 30px;
  height: 30px;
  background: #ffffff3d 0% 0% no-repeat padding-box;
  border-radius: 50%;
}
.line {
  height: 35px;
  width: 2px;
  background: #ffffff3d 0% 0% no-repeat padding-box;
  margin-left: 15px;
}
.journal_name {
  padding-left: 10px;
  font-size: 20px;
  padding-bottom: 10px;
}
.pt_journal {
  width: 90vh;
  text-align: left;
}
.pt_journal_list {
  height: 41vh;
  overflow-y: scroll;
}
.pt_journal_item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #cad5e2;
  background: #ffffff14 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  height: 50px;
  padding: 15px 10px 10px 15px;
  width: 70vh;
  margin-top: 5px;
}
.journal_details {
  width: 50vh;
  padding-left: 5px;
}
.pt_journal_font {
  color: #c2bfce;
  margin-top: 5px;
  font-size: 12px;
}
.pth_journal_font {
  font-size: 16px;
}
.cross-cancel:hover{
  cursor: pointer;
}
@media only screen and (max-width: 900px) {
  .patient {
    width: 100%;
  }
  .pt_profile {
    width: 100%;
    margin-right: 0px;
  }

  .pt_vt_media {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
  }
  .pt_list_items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .pt_item {
    width: 70%;
  }
  .pt_medical_list {
    width: 118%;
  }
  .pt_details {
    width: 100%;
  }
  .ptd_details {
    width: 90%;
  }
  .pth_details {
    width: 70%;
  }
  .pt_journal_item {
    width: 100%;
  }
  .journal_name {
    font-size: 15px;
  }
  .lines {
    margin-left: 2px;
    margin-right: 10px;
  }
  .dot {
    width: 20px;
    height: 20px;
  }
  .line {
    height: 35px;
    width: 1px;
    margin-left: 10px;
  }

  .journal_details {
    width: 100%;
    padding-left: 5px;
  }
  .pt_journal_font {
    font-size: 10px;
  }
  .pth_journal_font {
    font-size: 12px;
  }
  .pt_journal {
    margin-bottom: 30px;
  }
}
