.head1 {
    box-sizing: border-box;
    border-radius: 10px;
    height: 80px;
    width: 300px;
    padding: 23px;
    display: flexbox;
    text-align: center;
    justify-items: center;
    font-size: 28px;
    margin: auto;
    font-weight: 400;
    background: #FFFFFF14 0% 0% no-repeat padding-box;
    ;
}

.nmage {
    display: flexbox;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
}

.cont1 {
    margin: 0px;
    padding: 0px;
}


.date,
.Dep {
    margin-left: 80px;
    font: normal normal normal 23px/28px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.Dep {
    margin-bottom: 30px;
}

.date {
    margin-bottom: 20px;
    padding-top: 45px;
}

/* .MainHead1 {
    vertical-align: middle;
    align-items: center;
    width: auto;
    height: auto;
    justify-items: center;
    display: flex;
    height: fit-content;
    margin-bottom: 20px;
} */

.Alltxt {
    margin-left: 80px;
    max-height: min-content;
    display: inline-flex;
}

.cont1 {
    display: inline-block;
    align-items: center;
}


.col2 {
    margin-left: 70px;
    margin-right: 60px;
}

.Upload {
    display: flex;
    justify-content: center;
}

.b1 {
    display: flex;
    flex-direction: column;
    align-content: center;

    justify-content: center;
    height: 20vh;
    width: 98%;
    overflow-y: scroll;
    overflow-x: hidden;
   
}

.lis11 {

    background: #FFFFFF0F 0% 0% no-repeat padding-box;
    /* margin: 10px; */
    margin-bottom: 10px;
    padding: 5px;
    opacity: 60%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 98%;
}

.listing-approve {

    background: #FFFFFF0F 0% 0% no-repeat padding-box;
    /* margin: 10px; */
    margin-bottom: 10px;
    padding: 5px;
    opacity: 60%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 98%;
}




.btncont {
    margin-left: 0px;
    margin-top: 10px;
    margin-left: 380px;
    margin-right: 145px;
}

.subli11 {
    display: inline-flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 95%;
    padding: 10px;
}

.sublist {
    display: inline-flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 95%;
    padding: 10px;
}

/* .paintent-records{

} */
.hd1,
.bdy1 {
    font-size: 30px;

}

.head1 {
    font-size: 30px;
    height: auto;
    margin: auto;
    text-align: center;
    width: auto;
}

.bdy1 {
    background: #FFFFFF14 0% 0% no-repeat padding-box;
    border-radius: 20px;
    width: 800px;
    height: 400px;
    align-items: center;
    padding: 50px;
}

.paitens-records,
.lab-records,
.doc-records {
    text-align: center;

    width: 100px;
    height: 50px;

    color: white;
    background-color: #7116854f;
    border-radius: 10px;
    border: none;
    justify-content: center;
}

.cont1 {
    justify-content: center;
    vertical-align: middle;
}

.total {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
}

.body102 {
    padding: 20px;
    width: 90%;
    height: 98%;
    background: #ffffff14 0% 0% no-repeat padding-box;
    border-radius: 13px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
    overflow-y: scroll;
}

.bodyList {
    padding: 20px;
    width: 90%;
    height: 98%;
    background: #ffffff14 0% 0% no-repeat padding-box;
    border-radius: 13px;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 20px;
    overflow-y: scroll;
}



.body103{
    width: 70%;
    height: 98%;
    background: #ffffff14 0% 0% no-repeat padding-box;
    border-radius: 13px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.nmage {
    width: 80%;
    margin-bottom: 10px;
    margin-right: 30px;
}