textarea{
    background-color: #FFFFFF14;
    border-radius: 5px;
    border: none;
    border-bottom: 5px solid #711685;
    height: 38px;
    width: 350px;
    padding-top: 5px;
    padding-left: 20px;
    color: #CAD5E2;
    caret-color: #CAD5E2;
    resize: none;
}

::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    color: #CAD5E2;
}

textarea:focus{
    outline: none;
}