.btn-gov {
  text-align: center;
  padding: 15px 80px;
  width: 250px;
  height: 20px;
  display: inline-block;
  color: white;
  background-color: #7116854f;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
  font-size: 18px;
}

.btn-gov:hover {
  background-color: #71168580;
  transition: background-color ease-in-out 100ms;
}
