::-webkit-scrollbar {
  width: 2px;
}
.hospital {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bio-hos {
  padding: 15px 50px;
  width: 50%;
  text-align: center;
  color: #cad5e2;
  background: #ffffff14 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  margin-top: 50px;
  margin-bottom: 50px;
}
.bio-user {
  width: 85%;
  margin-top: 0px;
  margin-bottom: 0px;
}
.bio-pat {
  margin-bottom: 20px;
}
.bio-report{
  width: 90%;
}
.align-vh{
  display: flex;
  flex-direction: column;
   width: 100%;
}
.list {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.list > div {
  margin: 20px;
}
.list-items {
  height: 350px;
  overflow-y: scroll;
}
.item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #cad5e2;
  background: #ffffff14 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  height: 60px;
  padding: 15px 10px 10px 15px;
  width: 60vh;
  margin-top: 10px;
}
.item > div {
  margin: 10px;
}
.avatar {
  margin-top: 10px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.item_details {
  width: 38vh;
  text-align: left;
  font-size: 15px;
}
.div-align {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.font-field {
  margin-right: 15px;
  margin-top: 10px;
  font-size: 12px;
}
.hos-head-font {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.qr-lbl{
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 10px;
  text-decoration: underline;
}
.qr-lbl:hover{
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .bio-hos {
    padding: 15px 50px;
    width: 60%;
  }
}
